

.DS_Store
*~
*.swp
logs/*

.idea/*
#*.less
*.psd
*.map
*.bak
*.zip
*.txt
Public/static/js/temp/*
Public/static/bower_components/*
Public/static/lib/bootstrap/less/*
ThinkPHP/Tpl/*
/static/less/*.css
/static/*.css
/static/less/bscode/style/*
/static/less/style/*
/template/comment

/app/*

#Grunt artPage -start
Gruntfile.js
package.json
.bowerrc
bower.json
.jshintrc
.gulp
/test/
/node_modules/
/trace
/bower_components/
#Grunt artPage -end


/.tmp/*
/*.bak/
/*.bak

/index.php
index.php
*.lnk

test.php
/static/huofenqi/style/global.css
# Created by .ignore support plugin (hsz.mobi)
trace/*
trace
Application/Runtime/*
Application/Runtime/
Application/Common/Conf/test.php

dorado/*
Public/dorado/*
*.log
# just a test file
Application/Transfer/Controller/Hello*
appNative/
debug.php
.idea/
bak/
